node_modules/
dist/
dist-ssr/
*.local
.npm
.nvm
.next/
.out/
build/
.venv/
__pycache__/
*.env
.env.*
!.env.example
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
